@model K22CNT3_NguyenPhuNam_Project2_2210900047.Models.HOA_DON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOA_DON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngay_HD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_HD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoten_nguoinhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten_nguoinhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachi_nguoinhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi_nguoinhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dienthoai_nguoinhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai_nguoinhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachi_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_giao_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_giao_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACH_HANG.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACH_HANG.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PT_THANH_TOAN.Ten_PTTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PT_THANH_TOAN.Ten_PTTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PT_VAN_CHUYEN.Ten_PTVC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PT_VAN_CHUYEN.Ten_PTVC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
