@model IEnumerable<K22CNT3_NguyenPhuNam_Project2_2210900047.Models.HOA_DON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
} 

<div class="top-center-content">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay_HD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoten_nguoinhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi_nguoinhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dienthoai_nguoinhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay_giao_hang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trang_thai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KHACH_HANG.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PT_THANH_TOAN.MaPTTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PT_VAN_CHUYEN.MaPTVC)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay_HD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hoten_nguoinhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi_nguoinhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dienthoai_nguoinhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay_giao_hang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trang_thai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACH_HANG.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PT_THANH_TOAN.MaPTTT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PT_VAN_CHUYEN.MaPTVC)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaHD }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaHD }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaHD })
                </td>
            </tr>
        }

    </table>
</div>
<style>
    /* Center content horizontally at the top of the page */
    .top-center-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
        margin-top: 20px; /* Optional: add margin from top */
    }

    /* Ensuring the table fits nicely */
    .table {
        width: 80%; /* Adjust as necessary */
        margin-top: 20px; /* Adds spacing between the header and the table */
    }
</style>
