@model K22CNT3_NguyenPhuNam_Project2_2210900047.Models.SAN_PHAM_CT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SAN_PHAM_CT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.So_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAN_PHAM.Ten_sp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAN_PHAM.Ten_sp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSPCT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
