@model IEnumerable<K22CNT3_NguyenPhuNam_Project2_2210900047.Models.HINH_ANH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
}

<div class="top-center-content">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_file_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAN_PHAM.MaSP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten_file_anh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trang_thai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAN_PHAM.MaSP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaHA }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaHA }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaHA })
            </td>
        </tr>
    }
</table>

<style>
    /* Center content horizontally at the top of the page */
    .top-center-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
        margin: 20px 0; /* Optional: add margin above and below */
    }
</style>
