@model K22CNT3_NguyenPhuNam_Project2_2210900047.Models.PT_THANH_TOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PT_THANH_TOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_PTTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_PTTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPTTT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
