@model K22CNT3_NguyenPhuNam_Project2_2210900047.Models.CT_HOA_DON

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CT_HOA_DON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.So_luong_ban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_luong_ban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia_ban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_ban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tra_lai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tra_lai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOA_DON.Hoten_nguoinhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOA_DON.Hoten_nguoinhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAN_PHAM_CT.MaSPCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAN_PHAM_CT.MaSPCT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
