@model IEnumerable<K22CNT3_NguyenPhuNam_Project2_2210900047.Models.CT_HOA_DON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Npn2210900047Layout.cshtml";
}

<div class="top-center-content">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOA_DON.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAN_PHAM_CT.MaSPCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.So_luong_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tra_lai)
        </th>       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HOA_DON.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAN_PHAM_CT.MaSPCT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.So_luong_ban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia_ban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tra_lai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>

<style>
    /* Center content horizontally at the top of the page */
    .top-center-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
        margin: 20px 0; /* Optional: add margin above and below */
    }
</style>
